<!-- <app-pagination></app-pagination> -->
<body background="assets/20.jpg">
<app-menutemp></app-menutemp>
</body>



<!-- Footer -->

<footer class="page-footer font-small blue pt-4">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-center text-left"> <img width="20px" src="assets/logo.png" alt=""> </div>
                <div class="col-md-6 footer-left text-left text-center">
                    © 2018 All Rights Reserved for Skycliff IT PVT. LTD
                </div>
                <i class="fa fa-facebook text-xs circle"></i>
            </div>
        </div>
    </div>
  </footer>

  <!-- Footer -->
